.template-container {
  background-image: linear-gradient(#352163, #331972, #33143C);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.template-container > main {
  width: 88%;
  margin: 0 auto;
}
