/* #center {
  place-content: center;
  place-items: center;
} */
.template-container {
  background-image: linear-gradient(#352163, #331972, #33143C);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
